.vscode
__pycache__
*.egg-info
.pytest_cache
.ruff_cache

# Environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv*
*qdrant_config.toml

#  Data
data/*
app/data/*
qdrant_storage
app/app/data/distinct_dimensions.json

# DS_Store
.DS_Store

# Prompts
prompts/
prompts/*

# Models
models/*

deploy_to_cloudrun.sh
