section[data-testid="stSidebar"] div.stButton button  {
    background-color: #3c933f; /* Assuming a green background */
    border: none;
    color: white;
    padding: 20px 50px; /* Providing some padding inside the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px !important;
    font-weight: 800;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px; /* Assuming there's a slight roundness to the button */
  }
